form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  input[type='text'] {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-right: 1rem;
  }
  
  button[type='submit'] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  