.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.loginForm input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.loginForm button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.newUserButton {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}
