.todo-item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-item h2 {
    margin: 0;
  }
  
  .todo-item p {
    margin: 0;
  }
  
  .todo-item button {
    margin-left: 1rem;
  }
  
  .complete {
    text-decoration: line-through;
  }

img.cross {
    width: 15px;
    height: 15px;
}

img.check {
    width: 15px;
    height: 15px;
}
